# Class-6

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("/kaggle/input/supershops/supershops.csv")

In [3]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [4]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [5]:
df.Transport.mean()

215331.7324489796

In [6]:
df.Transport.median()

214634.81

In [7]:
df1=df.copy()
df2=df.copy()
df3=df.copy()
df4=df.copy()
df5=df.copy()
df6=df.copy()
df7=df.copy()
df8=df.copy()
df9=df.copy()
df10=df.copy()
df11=df.copy()

In [8]:
df.dropna(inplace=True)

In [9]:
df.shape

(49, 5)

In [10]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

In [11]:
df1.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [12]:
#handle NaN value
df1.Transport=df1.Transport.fillna(df1.Transport.mean())

In [13]:
df1.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

# Encoding

## Label Encoding

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
le=LabelEncoder()

In [16]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [17]:
df.Area = le.fit_transform(df["Area"])

In [18]:
df.head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10     1  192261.83
1        162597.70       151377.59  443898.53     0  191792.06
2        153441.51       101145.55  407934.54     2  191050.39
3        144372.41       118671.85  383199.62     1  182901.99
4        142107.34        91391.77  366168.42     2  166187.94

In [19]:
df1.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [20]:
df1.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

In [21]:
df1.columns

Index(['Marketing Spend', 'Administration', 'Transport', 'Area', 'Profit'], dtype='object')

In [22]:
#loop
for column in df1.columns:
    if df1[column].dtype == np.number:
        continue
    else:
        df1[column] = le.fit_transform(df2[column])

In [23]:
df1.head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10     1  192261.83
1        162597.70       151377.59  443898.53     0  191792.06
2        153441.51       101145.55  407934.54     2  191050.39
3        144372.41       118671.85  383199.62     1  182901.99
4        142107.34        91391.77  366168.42     2  166187.94

In [24]:
#Without warning
from pandas.core.dtypes.common import is_numeric_dtype

In [25]:
for col in df3.columns:
    if is_numeric_dtype(df3[col]):
        continue
    else:
         df3[col] = le.fit_transform(df3[col])

In [26]:
df.head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10     1  192261.83
1        162597.70       151377.59  443898.53     0  191792.06
2        153441.51       101145.55  407934.54     2  191050.39
3        144372.41       118671.85  383199.62     1  182901.99
4        142107.34        91391.77  366168.42     2  166187.94

## One-hot Encoding

In [27]:
df4.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [28]:
dummy = pd.get_dummies(df4["Area"],drop_first=True)
dummy.head()

   Dhaka  Rangpur
0      1        0
1      0        0
2      0        1
3      1        0
4      0        1

In [29]:
df4=df4.drop("Area",axis=1)
df4.head()

   Marketing Spend  Administration  Transport     Profit
0        114523.61       136897.80  471784.10  192261.83
1        162597.70       151377.59  443898.53  191792.06
2        153441.51       101145.55  407934.54  191050.39
3        144372.41       118671.85  383199.62  182901.99
4        142107.34        91391.77  366168.42  166187.94

In [30]:
new_df=pd.concat([df4,dummy],axis=1)

In [31]:
new_df.head()

   Marketing Spend  Administration  Transport     Profit  Dhaka  Rangpur
0        114523.61       136897.80  471784.10  192261.83      1        0
1        162597.70       151377.59  443898.53  191792.06      0        0
2        153441.51       101145.55  407934.54  191050.39      0        1
3        144372.41       118671.85  383199.62  182901.99      1        0
4        142107.34        91391.77  366168.42  166187.94      0        1

In [32]:
#loop
for col in df6.columns:
    if is_numeric_dtype(df6[col]):
        continue
    one=pd.get_dummies(df6[col],drop_first=True,prefix="area")
    df6.drop(df6[[col]],axis=1,inplace=True)
    df6=pd.concat([df6,one],axis=1)
df6.head()

,Marketing Spend,Administration,Transport,Profit,area_Dhaka,area_Rangpur
0,114523.61,136897.80,471784.10,192261.83,1,0
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,0,1
3,144372.41,118671.85,383199.62,182901.99,1,0
4,142107.34,91391.77,366168.42,166187.94,0,1

## Ordinal Encoder

In [33]:
df7.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [34]:
from sklearn.preprocessing import OrdinalEncoder

In [35]:
city=[df7.Area.unique()]
city

[array(['Dhaka', 'Ctg', 'Rangpur'], dtype=object)]

In [36]:
#loop
cols=["Area"]
for col in cols:
    unique=df8[col].unique()
    df8[col]=OrdinalEncoder(categories=[unique]).fit_transform(df8[[col]])

In [37]:
df8.head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10   0.0  192261.83
1        162597.70       151377.59  443898.53   1.0  191792.06
2        153441.51       101145.55  407934.54   2.0  191050.39
3        144372.41       118671.85  383199.62   0.0  182901.99
4        142107.34        91391.77  366168.42   2.0  166187.94

## Without using any technique

In [38]:
df9.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [39]:
df9.Area.unique()

array(['Dhaka', 'Ctg', 'Rangpur'], dtype=object)

In [40]:
df9.Area = df9.Area.replace(['Dhaka', 'Ctg', 'Rangpur'],[0,1,2])
df9.head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10     0  192261.83
1        162597.70       151377.59  443898.53     1  191792.06
2        153441.51       101145.55  407934.54     2  191050.39
3        144372.41       118671.85  383199.62     0  182901.99
4        142107.34        91391.77  366168.42     2  166187.94